@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            A verification email has been sent to your inbox: Please visit your email inbox to verify
</p>    
<p>
            <a id="confirm-link" href="/Identity/Account/Login">Back to Login</a>
</p> 
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

