@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/AboutUSLayout.cshtml";
}

<main>
    <section class="carousel_nav">
        <div class="container">
            <div class="carousel_content">
                <h2>About Us</h2>
                <p><a href="~/Home">Home</a> » About Us</p>
            </div>
        </div>
    </section>

    <!-- Introduction -->
    <section class="introduction py-5">
        <div class="container py-lg-5">
            <div class="intro_content row align-items-center">
                <div class="intro_left col-lg-5 pl-lg-4">
                    <h3>ABOUT US</h3>
                    <h2>We Have 2 Years Of Experience.</h2>
                </div>

                <div class="intro_right col-lg-7 pl-lg-4 pl-lg-5 mt-lg-0 mt-md-5 mt-4">
                    <p>
                        In the modern digital age, technological advancements have revolutionized the way services are delivered and accessed across various sectors. The hospitality industry, in particular, has undergone a remarkable transformation with the integration of online systems for managing reservations and customer interactions. As the demand for efficient, intuitive, and user-friendly hotel booking platforms continues to rise, driven by the quest for convenience and accessibility, this project aims to develop a comprehensive Hotel Booking System tailored to meet the unique requirements of three primary user roles: Admin, Hotel Manager, and Customer.
                    </p>
                    <br />
                    <p>
                        This system is designed to centralize operations, streamline processes, and reduce human error, ensuring a seamless experience for users and hotel administrators alike. Built using cutting-edge web technologies such as ASP.NET MVC and SQL Server for backend functionality, and leveraging HTML, CSS, JavaScript, and Bootstrap for a dynamic and responsive frontend, the platform delivers a modern and engaging user interface.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- team  -->
    <section class="team">
        <div class="container py-lg-4">
            <div class="team_content">
                <div class="team_title mb-lg-5 mb-4">
                    <h3>OUR EXPERTS</h3>
                    <h2>Our Team</h2>
                </div>
                <div class="team_info row justify-content-center gap-4">
                     <div class="team_item col-lg-3 "> 
                        <div class="item_img">
                            <a href="#"><img src="~/img/minh_thanh.jpg" alt="" /></a>
                        </div>
                        <br />
                        <div class="item_title col-md-12">
                            <a href="">Minh Thanh</a>
                            <p>Front-End Developer</p>
                        </div>
                        <div class="team_icon col-md-12">
                            <a href="https://www.facebook.com/shnahts0501"><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team_item col-lg-3 ">
                        <div class="item_img">
                            <a href="#"><img src="~/img/Minh_Man.jpg" alt="" /></a>
                        </div>
                        <br />
                        <div class="item_title col-md-12">
                            <a href="#">Minh Man</a>
                            <p>Back-End Developer</p>
                        </div>
                        <div class="team_icon col-md-12">
                            <a href="https://www.facebook.com/dangvietminhman"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team_item col-lg-3 ">
                        <div class="item_img">
                            <a href="#"><img src="~/img/Trung_Tin.jpg" alt="" /></a>
                        </div>
                        <br />
                        <div class="item_title col-md-12">
                            <a href="#">Trung Tin</a>
                            <p>Back-End Developer</p></p>
                        </div>
                        <div class="team_icon col-md-12">
                            <a href="https://www.facebook.com/tin.trung.le.thai"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
