@model HotelBookingMVC.Finalproject2.ViewModels.OrderViewModel

<h2>Billing Information</h2>
<form asp-action="ShowBill" method="post">
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <label asp-for="Address2"></label>
        <input asp-for="Address2" />
    </div>
    <div>
        <label asp-for="Country"></label>
        <input asp-for="Country" />
        <span asp-validation-for="Country"></span>
    </div>
    <div>
        <label asp-for="State"></label>
        <input asp-for="State" />
        <span asp-validation-for="State"></span>
    </div>
    <div>
        <label asp-for="Zip"></label>
        <input asp-for="Zip" />
        <span asp-validation-for="Zip"></span>
    </div>
    <div>
        <label asp-for="IsShippingSameAsBilling"></label>
        <input asp-for="IsShippingSameAsBilling" type="checkbox" />
    </div>
    <div>
        <label asp-for="SaveInfoForNextTime"></label>
        <input asp-for="SaveInfoForNextTime" type="checkbox" />
    </div>
    <button type="submit">Continue</button>
</form>
