@model HotelBookingMVC.Finalproject2.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Delete User";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <h2 class="text-center mb-4">Delete User</h2>

        <div>
            <h4>Are you sure you want to delete this user?</h4>
            <div>

                <!-- Email -->
                <div>
                    <strong>Email: </strong>
                    <p class="form-control">@Model.Email</p>
                </div>

                <!-- Email Confirmed -->
                <div>
                    <strong>Email Confirmed: </strong>
                    <p class="form-control">@Model.EmailConfirmed</p>
                </div>

                <!-- Roles -->
                <div>
                    <strong>Roles: </strong>
                    <ul class="form-control" style="list-style-type: none; padding-left: 0; margin: 0;">
                        @foreach (var role in Model.Roles)
                        {
                            <li>@role</li>
                        }
                    </ul>
                </div>
            </div>

            <!-- Form Actions -->
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
