/* subcribe css  */
.subcribe {
  max-width: 650px;
}

.update h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.update input {
  font-size: 16px;
  color: #777;
  border-radius: 10px;
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.update button {
  margin-left: 20px;
  flex-basis: 27%;
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
}

.update button:hover {
  background-color: #11602d;
  border-color: #11602d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .update form button {
    width: 100%;
    margin: 20px 0;
  }
}

/* ANIMATION  */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* product css  */
.product {
  margin-top: 100px;
  margin-bottom: 100px;
}

.product .product_title {
  text-align: center;
  margin-bottom: 40px;
}

.product .product_title h2 {
  font-weight: 800;
  font-size: 40px;
}
.product .nav-link {
  color: black !important;
}

.product .nav-pills .active {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 10px;
  color: #fff !important;
  background-color: #189a46 !important;
  border-color: #189a46 !important;
  transition: all 0.5s;
  line-height: 28px;
  transition: all 0.5s;
}

.feedback_score {
  padding: 4px;
  background-color: #189a46;
  color: white;
  font-weight: bold;
}

.feedback_number {
  font-size: 12px;
  color: gray;
}

.product .price {
  text-align: right;
}
.price_Usd {
  font-size: 18px;
  font-weight: bold;
}

/* Search  */

.booking__form {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
}

.input__group {
  flex: 1 1 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input__group span {
  font-size: 1.75rem;
  color: #189a46;
}

.input__group label {
  font-weight: 500;
  color: #0c0a09;
}

.input__group input {
  display: block;
  width: 100%;
  max-width: 150px;
  padding-block: 5px;
  color: #0c0a09;
  font-size: 0.9rem;
  outline: none;
  border: none;
}

.input__group input::placeholder {
  color: white;
}

.dark .booking__form {
  background-color: #353333;
}
.dark .input__group label {
  color: white;
}

.dark .input__group input {
  background-color: #353333;
  color: white;
}

.dark .input__group select {
  background-color: #353333;
  color: white;
}

/* Carousel  */
.pc_carousel .carousel_item {
  position: relative;
  background: url(./../img/bg_1.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 90px);
  z-index: -1;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.carousel_item.carousel_item2 {
  background: url(./../img/bg_2.jpg) no-repeat center;
  background-size: cover;
}
.carousel_item.carousel_item3 {
  background: url(./../img/bg_3.jpg) no-repeat center;
  background-size: cover;
}
.carousel_item.carousel_item4 {
  background: url(./../img/travel-ibk7fgrvtvhs7qzg.jpg) no-repeat center;
  background-size: cover;
}

.pc_carousel .carousel_item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0c0c0c;
  opacity: 0.6;
  min-height: 100%;
  z-index: -1;
}

.pc_carousel .banner_info {
  max-width: 700px;
}

.pc_carousel .banner_info h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.pc_carousel .banner_info p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}

a.btn_white {
  padding: 12px 35px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  border-radius: 10px;
  background-color: #189a46;
  color: white;
}

a.btn_border {
  padding: 12px 35px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  border-radius: 10px;
  color: #fff;
  border-color: #fff;
}

.pc_carousel a:hover {
  background-color: #fff;
  color: #189a46;
}

/* update  */
.pc_subscribe .subscribe_content {
  max-width: 650px;
  margin: 0 auto;
}

form#subscribe input {
  font-size: 16px;
  border-radius: 10px;
  padding: 0 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
}

form#subscribe input:focus {
  border-color: #189a46;
  box-shadow: none;
}

form#subscribe button {
  flex-basis: 27%;
}

@media only screen and (max-width: 667px) {
  form#subscribe button {
    width: 100%;
    display: block;
    margin-top: 16px;
  }
}
