/*****************globals*************/
body {
  font-family: 'open sans';
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.dark .card {
  background-color: #212020;
}
.dark .product-title {
  color: white;
  font-weight: bold;
}
.dark .review-no,
.dark .product-description,
.dark .price,
.dark .vote {
  color: white;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: flex;
  }
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

th,
td {
  border: 1px solid #212020;
  padding: 8px;
  text-align: center;
}

.dark th,
/*.dark td {
  color: white;
}*/

.btn-success {
  margin-top: 0px;
}

.dark input,
.dark textarea {
  color: white;
}

input,
textarea {
  outline: none;
  width: 100%;
  font-size: 16px;
  color: black;
  padding: 0px 16px;
  border: 1px solid rgba(147, 107, 232, 0.05);
  background: rgba(147, 107, 232, 0.05);
  border-radius: 6px;
  height: 55px;
}

textarea {
  resize: none;
  min-height: 140px;
  padding: 12px 16px;
}

input::placeholder,
textarea::placeholder {
  color: #696969;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #189a46;
  box-shadow: none;
}
.dark p, .dark .uncheck{
    color: white !important;
}

.modal-content{
    color:black;
}

.dark .form-control, .dark .form-floating {
    color: black;
}

.dark .item_bill {
    background-color: #212020 !important;
}

.dark .text-muted{
    color:white !important;
}
